body {
    margin-top: 0px;
}

.Section1 {
    position: fixed;
}

.Section2 {
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 60px;
}

#smiley {
    position: fixed;
    top: 525px;
    left: 1200px;
}

#NavBar {
     height: 100px;
     width: auto;
}

#SIcons {
    position: sticky;
    top: 30px;
    left: 300px;
    padding-top: 75px;
}
